<!DOCTYPE html>
<html>
<head>

</head>
<body>
<div id="nav">
<ul>
<li>@Html.ActionLink("Home", "Index", "Home2")</li>
<li>@Html.ActionLink("Contact Us", "Contact", "Home2")</li>
<li>@Html.ActionLink("About Us", "About", "Home2")</li>
</ul>
</div>
<div id="content">
    @RenderBody();
</div>

<div id="footer">
<p>All rights reserved with the author. </p>
</div>
</body>
</html>
