@model List<NewMvcPractice.Models.Employees>
@{
    ViewBag.Title = "Index";
}

<h2>List of Employees</h2>
<table>
    <tr>
        <th>EmployeeId</th>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
    </tr>
    @foreach(var s in Model)
    {
        <tr>
            <td>@s.EmployeeId</td>
            <td>@s.Name</td>
            <td>@s.Email</td>
            <td>@s.Moblie</td>
        </tr>
    }
</table>
