<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="dbtest" connectionString="Data Source=OWAIS-SHAHAB;Initial Catalog=dbtest2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="HiritiStudyHubConnectionString" connectionString="Data Source=OWAIS-SHAHAB;Initial Catalog=HiritiStudyHub;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  <add name="oracle_ConnectionString" connectionString="Data Source=orcl; User ID=system;password=admin;Persist Security Info=False;Pooling=false" providerName="System.Data.OracleClient"/>
  </connectionStrings>
    <!--<connectionStrings>
    <add name="ConnectionString_zni" connectionString="Data Source=Zni_Live; User ID=zni;password=znimnp2010;Persist Security Info=False;Pooling=false" providerName="System.Data.OracleClient"/>
    <add name="Sndqa_ConnectionString" connectionString="Data Source=SndServer; User ID=SNDQA;password=SNDQA;Persist Security Info=False;Pooling=false" providerName="System.Data.OracleClient"/>
    <add name="Sndptf_ConnectionString" connectionString="Data Source=SndPTF; User ID=SNDQA;password=SNDQA;Persist Security Info=False;Pooling=false" providerName="System.Data.OracleClient"/>
    <add name="Telecom_ConnectionString" connectionString="Data Source=TELECOM; User ID=SNDQA;password=MNPTELECOM;Persist Security Info=False;Pooling=false" providerName="System.Data.OracleClient"/>
    --><!--<add name="ConnectionString" connectionString="Data Source=Bayer; User ID=Bayer;password=Bayer321;Persist Security Info=False;Pooling=false " providerName="System.Data.OracleClient"/>--><!--
    --><!--<add name="ConnectionString" connectionString="Data Source=SIGNFORS; User ID=zni_ccl;password=zni_ccl;Persist Security Info=False;Pooling=false " providerName="System.Data.OracleClient"/>--><!--
    <add name="ConnectionString" connectionString="Data Source=SIGNFORS; User ID=zni_medics;password=zni_medics;Persist Security Info=False;Pooling=false " providerName="System.Data.OracleClient"/>

    --><!-- To read Excel For Mac Address --><!--
    <add name="xls1" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\aaa.xls;Extended Properties=Excel 12.0;"/>

  </connectionStrings>-->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
  </system.webServer>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>